*{
    /* outline: 1px solid gray; */
}
.container{
    border: 1px solid gold;
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

ul{
    display: flex;
    width: 60%;
}

.img{
    width: 40%;
}
h1{
    color:red;
}

@media(max-width:767px){
    .container{
        flex-direction: column;
    flex-wrap: wrap;

    }
}
