/* #region common design  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: "Noto Sans", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}

.wrap {
    max-width: 1920px;
    margin: 0 auto;
}

/* #endregion */

main {
    max-width: 1296px;
    margin: 0 auto;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 72px;
    gap: 80px 24px;
}

li.card-item {
    max-width: 636px;
}

.card-item img {
    border-radius: 8px;
    border: 1px solid #f1f1f1;
    margin-bottom: 16px;
}

.card-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
    color: #3b3b3b;
    margin-left: 16px;
    margin-bottom: 8px;
}

.card-content {
    color: #919191;
    margin-left: 16px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
}

.card-tags {
    display: flex;
    margin-left: 16px;
}

.card-tags li {
    margin-right: 16px;
    padding: 4px 12px;
    background-color: #f1f1f1;
    border-radius: 16px;
    color: #3b3b3b;
}

.pagemenu {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 120px;
}

.pagemenu a {
    color: #3B3B3B;
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    padding: 2px 13px;
    font-size: 24px;
}

.pagemenu_active a {
    color: #FFFFFF;
    background: #1E1E1E;
    border-radius: 4px;
}

.pagemenu a:hover {
    color: #FFFFFF;
    background: #1E1E1E;
    border-radius: 4px;
}


@media (max-width:767px) {
    .card-list {
        padding: 80px 12px 48px 12px;
    }

    .pagemenu {
        padding-bottom: 80px;
    }
}

/* #endregion */